In [3]:
import yfinance as yf
data = yf.download(["AAPL", "GOOG"], start="2023-01-01", end="2024-01-01")
data

[*********************100%%**********************]  2 of 2 completed

Price        Adj Close                   Close                    High  \
Ticker            AAPL        GOOG        AAPL        GOOG        AAPL
Date
2023-01-03  124.216301   89.699997  125.070000   89.699997  130.899994
2023-01-04  125.497498   88.709999  126.360001   88.709999  128.660004
2023-01-05  124.166641   86.769997  125.019997   86.769997  127.769997
2023-01-06  128.735229   88.160004  129.619995   88.160004  130.289993
2023-01-09  129.261612   88.800003  130.149994   88.800003  133.410004
...                ...         ...         ...         ...         ...
2023-12-22  193.353287  142.720001  193.600006  142.720001  195.410004
2023-12-26  192.803986  142.820007  193.050003  142.820007  193.889999
2023-12-27  192.903839  141.440002  193.149994  141.440002  193.500000
2023-12-28  193.333298  141.279999  193.580002  141.279999  194.660004
2023-12-29  192.284637  140.929993  192.529999  140.929993  194.399994

Price                          Low                    Open              \
Ticker            GOOG        AAPL        GOOG        AAPL        GOOG
Date
2023-01-03   91.550003  124.169998   89.019997  130.279999   89.830002
2023-01-04   91.239998  125.080002   87.800003  126.889999   91.010002
2023-01-05   88.209999  124.760002   86.559998  127.129997   88.070000
2023-01-06   88.470001  124.889999   85.570000  126.010002   87.360001
2023-01-09   90.830002  129.889999   88.580002  130.470001   89.195000
...                ...         ...         ...         ...         ...
2023-12-22  143.250000  192.970001  142.054993  195.179993  142.130005
2023-12-26  143.945007  192.830002  142.500000  193.610001  142.979996
2023-12-27  143.320007  191.089996  141.050995  192.490005  142.830002
2023-12-28  142.270004  193.169998  140.828003  194.139999  141.850006
2023-12-29  141.434998  191.729996  139.899994  193.899994  140.679993

Price          Volume
Ticker           AAPL      GOOG
Date
2023-01-03  112117500  20738500
2023-01-04   89113600  27046500
2023-01-05   80962700  23136100
2023-01-06   87754700  26612600
2023-01-09   70790800  22996700
...               ...       ...
2023-12-22   37122800  18494700
2023-12-26   28919300  11170100
2023-12-27   48087700  17288400
2023-12-28   34049900  12192500
2023-12-29   42628800  14872700

[250 rows x 12 columns]

In [4]:
data['Adj Close']

Ticker            AAPL        GOOG
Date
2023-01-03  124.216301   89.699997
2023-01-04  125.497498   88.709999
2023-01-05  124.166641   86.769997
2023-01-06  128.735229   88.160004
2023-01-09  129.261612   88.800003
...                ...         ...
2023-12-22  193.353287  142.720001
2023-12-26  192.803986  142.820007
2023-12-27  192.903839  141.440002
2023-12-28  193.333298  141.279999
2023-12-29  192.284637  140.929993

[250 rows x 2 columns]