In [1]:
import yfinance as yf
data = yf.download(["AAPL", "GOOG"], start="2023-01-01", end="2024-01-01")
data

[*********************100%%**********************]  2 of 2 completed

Price        Adj Close                   Close                    High  \
Ticker            AAPL        GOOG        AAPL        GOOG        AAPL
Date
2023-01-03  124.216293   89.699997  125.070000   89.699997  130.899994
2023-01-04  125.497505   88.709999  126.360001   88.709999  128.660004
2023-01-05  124.166634   86.769997  125.019997   86.769997  127.769997
2023-01-06  128.735245   88.160004  129.619995   88.160004  130.289993
2023-01-09  129.261627   88.800003  130.149994   88.800003  133.410004
...                ...         ...         ...         ...         ...
2023-12-22  193.353287  142.720001  193.600006  142.720001  195.410004
2023-12-26  192.803986  142.820007  193.050003  142.820007  193.889999
2023-12-27  192.903839  141.440002  193.149994  141.440002  193.500000
2023-12-28  193.333298  141.279999  193.580002  141.279999  194.660004
2023-12-29  192.284637  140.929993  192.529999  140.929993  194.399994

Price                          Low                    Open              \
Ticker            GOOG        AAPL        GOOG        AAPL        GOOG
Date
2023-01-03   91.550003  124.169998   89.019997  130.279999   89.830002
2023-01-04   91.239998  125.080002   87.800003  126.889999   91.010002
2023-01-05   88.209999  124.760002   86.559998  127.129997   88.070000
2023-01-06   88.470001  124.889999   85.570000  126.010002   87.360001
2023-01-09   90.830002  129.889999   88.580002  130.470001   89.195000
...                ...         ...         ...         ...         ...
2023-12-22  143.250000  192.970001  142.054993  195.179993  142.130005
2023-12-26  143.945007  192.830002  142.500000  193.610001  142.979996
2023-12-27  143.320007  191.089996  141.050995  192.490005  142.830002
2023-12-28  142.270004  193.169998  140.828003  194.139999  141.850006
2023-12-29  141.434998  191.729996  139.899994  193.899994  140.679993

Price          Volume
Ticker           AAPL      GOOG
Date
2023-01-03  112117500  20738500
2023-01-04   89113600  27046500
2023-01-05   80962700  23136100
2023-01-06   87754700  26612600
2023-01-09   70790800  22996700
...               ...       ...
2023-12-22   37122800  18494700
2023-12-26   28919300  11170100
2023-12-27   48087700  17288400
2023-12-28   34049900  12192500
2023-12-29   42628800  14872700

[250 rows x 12 columns]

In [2]:
data['Adj Close']

Ticker            AAPL        GOOG
Date
2023-01-03  124.216293   89.699997
2023-01-04  125.497505   88.709999
2023-01-05  124.166634   86.769997
2023-01-06  128.735245   88.160004
2023-01-09  129.261627   88.800003
...                ...         ...
2023-12-22  193.353287  142.720001
2023-12-26  192.803986  142.820007
2023-12-27  192.903839  141.440002
2023-12-28  193.333298  141.279999
2023-12-29  192.284637  140.929993

[250 rows x 2 columns]

In [3]:
pip install fredapi

Requirement already satisfied: fredapi in /opt/homebrew/lib/python3.11/site-packages (0.5.1)
Requirement already satisfied: pandas in /opt/homebrew/lib/python3.11/site-packages (from fredapi) (2.1.2)
Requirement already satisfied: numpy<2,>=1.23.2 in /opt/homebrew/lib/python3.11/site-packages (from pandas->fredapi) (1.24.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/sharlenetio/Library/Python/3.11/lib/python/site-packages (from pandas->fredapi) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/homebrew/lib/python3.11/site-packages (from pandas->fredapi) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in /opt/homebrew/lib/python3.11/site-packages (from pandas->fredapi) (2023.3)
Requirement already satisfied: six>=1.5 in /Users/sharlenetio/Library/Python/3.11/lib/python/site-packages (from python-dateutil>=2.8.2->pandas->fredapi) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [4]:
import yfinance as yf
import pandas as pd
from datetime import datetime, timedelta
from scipy.optimize import minimize
import numpy as np

In [5]:
#help me convert this to an input function
tickers = ['SPY','BND','GLD','QQQ','VTI']
end_date = datetime.today()
start_date = end_date - timedelta(days = 5*365)

In [6]:
adj_close_df = pd.DataFrame()
for ticker in tickers:
    data = yf.download(ticker, start = start_date,end = end_date)
    adj_close_df[ticker] = data['Adj Close']

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

In [7]:
print(adj_close_df)

                   SPY        BND         GLD         QQQ         VTI
Date
2019-03-04  257.485657  70.053070  121.559998  168.771851  132.465286
2019-03-05  257.135406  70.105988  121.720001  168.897659  132.216492
2019-03-06  255.578033  70.194031  121.610001  167.939697  131.212051
2019-03-07  253.440002  70.396614  121.510002  165.878647  130.189194
2019-03-08  252.933044  70.484703  122.839996  165.627106  129.921967
...                ...        ...         ...         ...         ...
2024-02-23  507.850006  72.180000  188.619995  436.779999  252.000000
2024-02-26  505.989990  72.050003  188.199997  436.549988  251.240005
2024-02-27  506.929993  71.940002  188.000000  437.600006  251.940002
2024-02-28  506.260010  72.099998  188.339996  435.269989  251.520004
2024-02-29  508.079987  72.220001  189.309998  439.000000  252.580002

[1258 rows x 5 columns]

In [8]:
log_returns = np.log(adj_close_df/adj_close_df.shift(1))
log_returns = log_returns.dropna()

In [9]:
#Covariance Matrix
cov_matrix = log_returns.cov()*252
print(cov_matrix)

          SPY       BND       GLD       QQQ       VTI
SPY  0.044209  0.002758  0.003593  0.049784  0.045273
BND  0.002758  0.004676  0.003896  0.003372  0.002938
GLD  0.003593  0.003896  0.022295  0.004851  0.003774
QQQ  0.049784  0.003372  0.004851  0.064616  0.050934
VTI  0.045273  0.002938  0.003774  0.050934  0.046739

In [10]:
def standard_deviation (weights, cov_matrix):
    variance = weights.T @ cov_matrix @ weights
    return np.sqrt(variance)

In [11]:
def expected_returns (weights, log_returns):
    return np.sum(log_returns.mean()*weights)*252

In [12]:
from fredapi import Fred
fred = Fred(api_key='8e01919c368c8b27138da997db27d9ff')
ten_year_treasury_rate = fred.get_series_latest_release('GS10')/100

risk_free_rate = ten_year_treasury_rate.iloc[-1]
print (risk_free_rate)

0.0406

In [13]:
def sharpe_ratio(weights, log_returns, cov_matrix, risk_free_rate):
    return(expected_returns (weights, log_returns)- risk_free_rate) / standard_deviation(weights, cov_matrix)

In [14]:
def neg_sharpe_ratio(weights, log_returns, cov_matrix, risk_free_rate):
    return -sharpe_ratio(weights, log_returns, cov_matrix, risk_free_rate)

In [15]:
constraints = {'type': 'eq', 'fun': lambda weights: np.sum(weights)-1}
bounds = [(0,0.5) for _ in range(len(tickers))]

In [16]:
initial_weights = np.array([1/len(tickers)]*len(tickers))
print(initial_weights)

[0.2 0.2 0.2 0.2 0.2]

In [17]:
optimise_results = minimize(neg_sharpe_ratio,initial_weights, args=(log_returns, cov_matrix, risk_free_rate), method='SLSQP', constraints=constraints, bounds=bounds)

In [18]:
optimal_weights= optimise_results.x

In [19]:
print("Optimal Weights:")
for ticker, weight in zip(tickers, optimal_weights):
    print(f"{ticker}: {weight:.4f}")

print()

optimal_portfolio_return = expected_returns(optimal_weights, log_returns)
optimal_portfolio_volatility = standard_deviation(optimal_weights, cov_matrix)
optimal_sharpe_ratio = sharpe_ratio(optimal_weights, log_returns, cov_matrix, risk_free_rate)

print(f"Expected Annual Return: {optimal_portfolio_return:.4f}")
print(f"Expected Volatility: {optimal_portfolio_volatility:.4f}")
print(f"Sharpe Ratio: {optimal_sharpe_ratio:.4f}")

Optimal Weights:
SPY: 0.0000
BND: 0.0000
GLD: 0.5000
QQQ: 0.5000
VTI: 0.0000

Expected Annual Return: 0.1402
Expected Volatility: 0.1554
Sharpe Ratio: 0.6410